* {
    margin: 0;
    padding: 0;
}

@font-face{

    font-family: "Lato-Black";
    
    src: url('../fonts/Lato-Black.ttf');
    
    src: url('../fonts/WebFont-Italic.eot?iefix') format('eot'),
    
    url('../fonts/WebFont-Italic.svg#webfont') format('svg');
    
    font-weight: normal;
    
    font-style: normal;
    
    }

body {
    max-width: 1600px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
  }

.content{
    display: grid;
    grid-template-rows: 1fr auto;
}
.bottom{
    margin-top: auto;
}


.container {
    max-width: 1140px; 
    margin: 0 auto;
    padding: 0 2% 0;
}

.header-all{
    min-height: 75px;
    background: #222222;
    display: flex;
    align-items: center;
    position: relative;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-left{
            display: flex;
        }
        &-right{
            display: flex;
            align-items: center;
            .cart-number-img{
                    margin-top: -23px;
                    margin-left: -8px;
            }
        
        }
    }
    .search-link{
        margin-left: 40px;
        margin-top: 10px;
    }
}
.number{    
    margin-top: -23px;
    margin-left: -14px;
}
.drop-menu{
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 34px;
    background-color: #ffffff;
    position: absolute;
    width: 232px;
    top: 75px;
    right: 0;
    box-sizing: border-box;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    height: 750px;
    z-index: 1;
    .exit{
        text-align: right;
        .fa-times{
            font-size: 16px;
            color: #6F6E6E;
        }
    }
    &__item{
        padding-top: 10px;
    }
    .menu-header{
        padding-bottom: 14px;
    }
    &__item{
        .item-text{
            padding-top: 10px;
            padding-left: 20px;
            .pad-bottom{
                padding-bottom: 10px;
            }
    }
    }
}
details summary {
    display: block;
    outline-style: none;  /* удалить обводку при фокусе */
    cursor: pointer;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.link{
    text-decoration: none;
    display: block;
}

.button_none{
    border: none;
    background:none;
}

.margin-left-33{
    margin-left: 33px;
}
.colortext{
    color: #F16D7F;
}

.text-color-dark-black{
    color: #000000;
}
.text-color-black{
    color: #222222;
}
.text-color-gr-black{
    color: #222224;
}
.text-color-gray{
    color: #656565;
}
.text-color-gray7{
    color: #5D5D5D;
}
.text-color-gray2{
    color: #4a4a4a;
}
.text-color-gray3{
    color: #6f6e6e;
}
.text-color-gray4{
    color: #c4c4c4;
}
.text-color-gray5{
    color: #b3b2b2;
}
.text-color-gray6{
    color: #b2b2b2;
}
.text_color-sl-gray{
color: #b1b1b1;
}
.text-color-white{
    color: #fbfbfb;
}
.text-color-superwhite{
    color: #ffffff;
}
.text-color-red{
    color: #ff0d0d;
}
.text-color-beige{
color: #9f9f9f;
}
.text_uppercase{
    text-transform: uppercase;
}
.text_size-11{
    font-size: 11px;
}
.text_size-13{
    font-size: 13px;
}
.text_size-12{
    font-size: 12px;
}
.text_size-14{
    font-size: 14px;
}
.text_size-15{
    font-size: 15px;
}
.text_size-16{
    font-size: 16px;
}
.text_size-18{
    font-size: 18px;
}
.text_size-20{
    font-size: 20px;
}
.text_size-24{
    font-size: 24px;
}
.text_size-30{
    font-size: 30px;
}
.text_size-32{
    font-size: 32px;
}
.text_size-48{
    font-size: 48px;
}
.text_weight-900{
    font-weight: 900;
}

.text_weight-700{
    font-weight: 700;
}
.text_weight-300{
    font-weight: 300;
}
.text_weight-400{
    font-weight: 400;
}  
.text-italic{
    font-style: italic;
}
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.banner-all{
    background-color: #F1E4E6;
    display: flex;
    margin-bottom: 5%;
    max-width: 1600px;
}
.banner{
    display: flex;
    width: 100%;
    &-left{
        width: 50%;
        }
        .banner-img{
            width: 100%;
        }
    &-right{
        width: 50%;
        align-self: center;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
    }
}

.banner-margin-bottom{
    margin-bottom: -5px;
}

.header-bold{
    font-size: 48px;
    font-weight: 900;
    margin-top: -10px;
}
.header-norm{
    font-size: 32px;
    font-weight: 700;
}
.offer{
    display: flex;
    flex-direction: column;
    &-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.6%;
        }
    
}
.offer__item{    
    position: relative;
    
}
.offer-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform:translate(-50%, -50%);
    width: 100%;
}
.link-perc{
    width: 31%;
}
.offer-img{
    width: 100%;
}
// ______________S E C T I O N ___________________________


.product_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.4%;
    margin-bottom: 4.3%;
    &_align{
        text-align: center;
    }
}

  .item_flex{
      display: flex;
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
      .item{
            width: 360px;
            position: relative;
            margin-bottom: 30px;
            transition-duration: 0.3s;
            background: #F8F8F8;
            &_pic{
                width: 100%;
                transition-duration: 0.3s;
            }
            &:hover .item_pic{
                filter: brightness(40%);
            }
            &:hover .add_box{
                display: flex;
            }
            &_text{
                margin-top: 12px;
            }
            .text-box{
                padding: 25px 28px 20px 16px;
                .item_price{
                    margin-top: 18px;
                }

            }
            .add_box{
                display: none;
                position: absolute;
                top: 35%;
                left: 50%;
                transform:translate(-50%, -50%);
                border: 1px solid #ffffff;
                .add{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 12px;
                    &_text{
                        padding-left: 7px;
                    }
                }
            }
        }
  }

  .link_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    .product_button{
        text-decoration: none;
        padding: 14px 38px;
        background-color: #ffffff;
        border: 1px solid #f16d7f;
        margin-bottom: 8.3%;
        margin-top: 2%;
        transition: 0.3s;
        &:hover{
            background-color: #f16d7f;
            color: #ffffff;
          }
      }
}

.banner-product{
    background-color: #222224;
    &__parent{
        display: flex;
        justify-content: space-between;
        padding: 104px 0;
        .banner-product__item{
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &-img{
                padding-bottom: 30px;
            }
            &-header{
                padding-bottom: 15px;
            }
            &-text{
                margin: 0 30px 0;
                line-height: 24px;
            }
        }
    }
}

.connection{
    background-image: url(img/backgroung-subscribe.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 438px;
}
.review_letter{
   display: flex;
   justify-content: space-between;
  
}

.review{
   display: flex;
   flex-direction: column;
   width: 50%;
   align-items: center;
   justify-content: center;
}

.review_img{
   height: 83px;
}

.review_text{
   line-height: 26px;
   letter-spacing: 0.4px;
   width: 70%;
   text-align: center;
   padding-top: 30px;
}

.letter{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 148px 35px 168px;
   box-sizing: border-box;
   align-items: center;
   .letter_text{
        padding-bottom: 35px;
        text-align: center;
        .letter_text_header{
            letter-spacing: 0.6px;
            line-height: 40px;
         }
    }
    .letter_input{
        border: none;
        width: 256px;
        height: 49px;
        border-radius: 30px 0 0 30px;
        background-color: #e1e1e1;
        padding-left: 22px;
        margin-right: -3px;
    }
     
    .letter_button{
        border:1px transparent;
        width: 100px;
        height: 49px;
        border-radius: 0 30px 30px 0;
        background-color: #f16d7f;
        transition: 0.3s;
        &:hover{
            background-color: #e1e1e1;
            color: #f16d7f;
            border:1px solid#f16d7f;
        }
    }
    .form_text{
        opacity: 0.67;
        letter-spacing: 0.35px;
     }
    .form_text2{
        color: #ffffff;
        opacity: 1;
    }
}


.bottom{
    background-color: #222224;
    .bottom_all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .bottom_right{
            display: flex;
            .bottom_box{
                margin-left: 8px;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                transition-duration: 0.3s;
            }
            .bottom_box:hover{
                background-color: #f16d7f;
            }
        }
    }
}



.bottom_box:hover .fa-facebook-f{
    color: #ffffff;
}
.bottom_box:hover .fa-twitter{
    color: #ffffff;
} 
.bottom_box:hover .fa-pinterest-p{
    color: #ffffff;
}
.bottom_box:hover .fa-instagram{
    color: #ffffff;
}

@media (max-width: 768px){
    .container{
        max-width: 768px;
        padding: 0 16px 0;
        box-sizing: border-box;
    }
    
    .banner{
        width: 100%;
        &-left{
            margin-left: 0;
        }
    }
    .banner-img{
        height: 368px;
    }
    .header-bold{
        font-size: 44px;
        font-weight: 900;
    }
    .header-norm{
        font-size: 24px;
        font-weight: 700;
    }
    .cart-number-img{
        margin-right: 25px;
    }
    .number{
        margin-left: -38px;
    }
    .offer{
        padding: 0 2% 0;
    box-sizing: border-box;
    }
    .link-perc{
        width: 31%;
    }
    .offer-img{
        width: 100%;
    }
    .offer-text{
        width: 100%;
    }

    .banner-product__parent{
        flex-direction: column;
        align-items: center;
        padding-bottom: 8.3%;
        .banner-product__item{
            width: 50%;
            margin-top: 6.25%;
        }
    }

    .connection{
        min-height: 614px;
        background-size: cover;
        .review_letter{
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 60px;
            .review{
            width: 70%;
            }
            .letter{
            flex-direction: column;
            align-items: center;
            width: 70%;
            padding-top: 80px;
            }
        }
    }
    .drop-menu{
        display: none;
    }
    
}


@media (max-width: 375px){
    .drop-menu{
        display: none;
    }
    .media375{
        display: none;
    }
    .header-norm {
        font-size: 20px;
        font-weight: 700;
    }
    .header-bold {
        font-size: 37px;
        font-weight: 700;
    }

    .banner-all{
        margin-bottom: 0;
    }
    .banner-left{
        display: none;
    }
    .banner-right{
        width: 100%;
        margin: 148px 56px;
    }
    .banner-margin-bottom{
        margin-bottom: 0;
    }
    .banner_text{
        margin-top: -7px;
    }

 .offer{  
     margin-top: 18%;
    .offer-top{
        flex-direction: column;
        margin-bottom: 0;
        .link-perc{
            width: 100%;
            .offer__item{
                margin-bottom: 9%;
            }
        }
    }
    .offer-bottom{
        .offer-img{
            min-height: 111px;
            object-fit: cover;
        }
    }
}

    .product_header{
        margin-top: 18%;
        margin-bottom: 18%;
    }

    .item_flex{
        .item{
            margin-bottom: 16px;
        }
    }

    .link_button{
        .product_button{
            margin-top: 7%;
            margin-bottom: 27%;
        }
    }

    .banner-product__parent {
        padding-bottom: 22%;
        .banner-product__item {
            width: 100%;
            margin-top: 13%;
            &-text{
                margin: 0;
            }
            &-img{
                padding-bottom: 18px;   //5.2%//
            }
        }

    }   
    
    .connection{
        .review_letter{
            .review{
                width: 100%;
                .review_text{
                    width: 100%;
                    font-size: 19px;
                }
            }
            .letter{
                width: 100%;
                .text_size-18 {
                    font-size: 14px;
                }
                .letter-form{
                    width: 100%;
                }
                .letter_input{
                    width: 64%;
                }
            }
        }
    }

    .letter{
        padding: 0;
    }

    .bottom{
        .bottom_all{
        flex-direction: column-reverse;
        height: auto;
        padding: 43px 62px 10px;
        .bottom_right{
            margin-bottom: 40px;
        }
        }    
    }


}
